[Desktop Entry]
Version=M.m
Type=Application
Categories=Development;Qt;
Terminal=false
Name=myapp
Comment="A simple qmake test app"
Icon=myapp
Exec=AppRun %F
StartupNotify=true
