[Desktop Entry]
Version=M.m
Type=Application
Categories=Development;Qt;
Terminal=false
Name=cuteproject
Comment="A simple qmake test app"
Icon=cuteproject
Exec=AppRun %F
StartupNotify=true

Name[en_US]=cuteproject
