[Desktop Entry]
Version=M.m
Type=Application
Categories=Sound;Development;GTK;GNOME;
Terminal=false
Name="myapp"
Comment="A simple qmake test app"
Icon=/usr/share/pixmaps/myapp.svg
Exec=/usr/bin/myapp
StartupNotify=true
Encoding=UTF-8
