Source: app-M.m
Section: sound
Priority: optional
Maintainer: xam <dev@xamblak.de>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/mxklb/cuteproject
Vcs-Git: https://github.com/mxklb/cuteproject.git
Vcs-Browser: https://github.com/mxklb/cuteproject

Package: app-M.m
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
#Build-Depends: 
Description: A simple qmake test app
 This is just a test for debian package deployment with qmake and qt project.
