Source: app-M.m
Section: sound
Priority: optional
Maintainer: xam <dev@xamblak.de>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://xamblak.de/
#Vcs-Git: git://git.debian.org/collab-maint/app.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/app.git;a=summary

Package: app-M.m
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
#Build-Depends: 
Description: A Simple qmake test app
 This is just a test for debian package deployment with qmake and qt project.
