#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export QT_SELECT := qt5

%:
	dh $@

# Delete rpath linker settings
override_dh_auto_build:
	dh_auto_build
	find . -iname "*.so" | xargs -L 1 chrpath -l | grep RPATH | awk '{print $$1;}' | sed 's/.$$//' | xargs -L 1 chrpath -d
	chrpath -d app/myapp
